<form action="/list" method="POST">
	<label for="order">Sort By</label>
	<select name="order">
		<option value="rank">Rank (default)</option>
		<option value="title">Title</option>
		<option value="year">Year</option>
	</select>
	<label for="rank">Select a Rank to Highlight</label>
	<select name="rank">
		<% 100.times do |i| %>
		<%= "<option value=#{i+1}>#{i+1}</option>\n" %>
		<% end %>
	</select>
	<input type="submit" value="Display List">
</form>